.post-card {
  color: var(--title-color);
  background-color: var(--bg-card);
  overflow: hidden;
  padding: 25px;
  margin-bottom: var(--space);
  border-radius: var(--radius);
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,.02), 1px 1px 15px 0 rgba(0,0,0,.03);
  transition: background-color .6s;
	transition: transform .3s, background-color .3s, box-shadow .6s;
  position: relative;

  &__header {
    margin-left: calc(var(--space) * -1);
    margin-right: calc(var(--space) * -1);
    margin-bottom: calc(var(--space) / 2);
    margin-top: calc(var(--space) * -1);
    height: 270px;
    overflow: hidden;
    border-radius: var(--radius) var(--radius) 0 0;
    &:empty {
      display: none;
    }
  }
  &__list {
    margin-top: calc(var(--space) / 2);
  }
  &__image {
    min-width: 100%;
    object-fit: contain;
    height: 100%;
  }
  &__title {
    font-size: 1.602em;
    color: var(--highlight-color);
    margin-top: 0;
  }
  &:hover {
    transform: translateY(-5px);
    box-shadow: 1px 10px 30px 0 rgba(0,0,0,.1);
  }
  &__tags {
    z-index: 1;
    position: relative;
  }
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.0;
    overflow: hidden;
    text-indent: -9999px;
    z-index: 0;
  }
}

.post-tags {
  margin: 1em 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &__link {
    margin-right: .7em;
    margin-bottom: .7em;
    font-size: .8em;
    font-weight: 400;
    cursor: pointer;
  	color: var(--body-color);
  	text-decoration: none;
  	background-color: var(--bg-color);
  	padding: .5em;
  	border-radius: var(--radius);

    &:hover {
        color: var(--highlight-color);
    }
  }
}